@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Praca domowa 2 – Sloty wdrożeniowe</h1>
    <p class="lead">Praca domowa 2 – Sloty wdrożeniowe</p>
</div>
